body {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media (min-width: 768px){
    .container{
        flex-direction: row;
    }
}

.container-left{
    width: 20%;
    background-color: #ffffff;
    padding: 1rem;
}

.container-right{
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
}

.menu-item{
    display: block;
    margin: 1rem;
    background-color: #8899ff;
    border: 1px solid #000000;
    text-align: center;
}

.jorge-floyd-img{
    width: 80%;
    height: 80%;
}

.text-bio{
    text-align: justify;
    font-style: italic;
    line-height: 2;
}


/*  Contacto */

h2{
    margin-top: 0;

}

.form-control{
    display: block;
    margin: 0.5rem 0;
}

.form-button{
    display: block;
    margin: 2px;
}

.error{
    color: #ff0000;
    display: none;
}

.show-error{
    display: block;
}


.img-mrx{
    display: block;
    margin: 0 auto;
}

#get-user{
    display: block;
    margin: 0 auto;
}

.user{
    text-align: center;
    margin: 0 auto;
    color: white;
}
